name: MLOps Heart Disease Pipeline

on:
  push:
    branches: [ "main", "ci-mlops-pipeline" ]
  pull_request:
    branches: [ "main" ]

jobs:
  mlops-pipeline:
    runs-on: ubuntu-latest

    steps:
    #########################################################
    # 1. Checkout Code
    #########################################################
    - name: Checkout repository
      uses: actions/checkout@v4

    #########################################################
    # 2. Setup Python
    #########################################################
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    #########################################################
    # 3. Install Dependencies
    #########################################################
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    #########################################################
    # 4. Data Pipeline
    #########################################################
    - name: Data acquisition
      run: python -m src.data.data_acquisition

    - name: Data preprocessing
      run: python -m src.data.preprocess

    #########################################################
    # 5. Model Training
    #########################################################
    - name: Train Logistic Regression
      run: python -m src.models.train_evaluate_logistic_regression

    - name: Train Random Forest
      run: python -m src.models.train_evaluate_random_forest

    #########################################################
    # 6. Experiment Tracking
    #########################################################
    - name: Experiment tracking
      run: python -m src.models.experiment_tracking

    #########################################################
    # 7. Save Model Artifacts
    #########################################################
    - name: Save trained models
      run: python -m src.models.save_model

    #########################################################
    # 8. Linting
    #########################################################
    - name: Run Linting Script
      run: bash scripts/run_lint.sh

    #########################################################
    # 9. Unit Tests
    #########################################################
    - name: Run tests
      run: pytest tests/test_download_data.py -v

    #########################################################
    # 10. Docker Build
    #########################################################
    - name: Build Docker image
      run: docker build -t heart-disease-api .

    #########################################################
    # 11. Run API Container
    #########################################################
    - name: Run API container
      run: |
        docker run -d --rm \
          -p 8000:8000 \
          --name heart-disease-api-container \
          heart-disease-api

    #########################################################
    # 12. Wait for API
    #########################################################
    - name: Wait for API readiness
      run: |
        echo "Waiting for API..."
        for i in {1..20}; do
          if curl -s http://localhost:8000/docs > /dev/null; then
            echo "API is ready"
            exit 0
          fi
          sleep 2
        done
        echo "API failed to start"
        exit 1

    #########################################################
    # 13. API & Monitoring Tests
    #########################################################
    - name: TEST - LOGICTIC REGRESSION inference endpoint
      run: |
        curl -X POST http://localhost:8000/predict/logistic \
        -H "Content-Type: application/json" \
        -d '{
          "age": 52,
          "sex": 1,
          "cp": 0,
          "trestbps": 125,
          "chol": 212,
          "fbs": 0,
          "restecg": 1,
          "thalach": 168,
          "exang": 0,
          "oldpeak": 1.0,
          "slope": 2,
          "ca": 0,
          "thal": 2
        }'

    - name: TEST - RANDOM FOREST inference endpoint
      run: |
        curl -X POST http://localhost:8000/predict/random-forest \
        -H "Content-Type: application/json" \
        -d '{
          "age": 52,
          "sex": 1,
          "cp": 0,
          "trestbps": 125,
          "chol": 212,
          "fbs": 0,
          "restecg": 1,
          "thalach": 168,
          "exang": 0,
          "oldpeak": 1.0,
          "slope": 2,
          "ca": 0,
          "thal": 2
        }'

    - name: Check Prometheus metrics endpoint
      run: curl -f http://localhost:8000/metrics

    #########################################################
    # 14. Collect Logs
    #########################################################
    - name: Collect API logs
      run: docker logs heart-disease-api-container > api_logs.txt

    - name: Upload API logs
      uses: actions/upload-artifact@v4
      with:
        name: api-logs
        path: api_logs.txt

    #########################################################
    # 15. Cleanup
    #########################################################
    - name: Stop Docker container
      if: always()
      run: docker stop heart-disease-api-container || true
